body {
  background: linear-gradient(to left top, #fff, #FD6C7F);
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.recipes{
  margin: 0 auto;
  margin-top: 10px;
  padding: 1em;
  text-align: center;
  width: 500px;
  text-align: left;
  background-color: #fff;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
  margin-top: 15px;
  margin-bottom: 15px;
}
.recipes img{
  width: 150px;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
}
